package customer

import (
	"github.com/Orfeo42/admin-panel/view/layout"
	"github.com/Orfeo42/admin-panel/model"
	"github.com/Orfeo42/admin-panel/view/component"
)

templ CustomerView(item model.CustomerModel) {
	@layout.BaseView() {
		@component.TitledCardComp("Prova Nuova") {
		}
	}
}
