package order

import (
	"github.com/Orfeo42/admin-panel/view/layout"
	"github.com/Orfeo42/admin-panel/data"
	"github.com/Orfeo42/admin-panel/view/component"
)

templ OrderView(item data.OrderModel) {
	@layout.BaseView() {
		@component.TitledCardComp("Prova Nuova") {}
	}
}
