package invoice

import (
	"github.com/Orfeo42/admin-panel/view/layout"
	"github.com/Orfeo42/admin-panel/model"
	"github.com/Orfeo42/admin-panel/view/component"
)

templ InvoiceView(item model.InvoiceModel) {
	@layout.BaseExtendedView(styles(), scripts()) {
		@component.TitledCardComp("Prova Nuova") {
		}
	}
}
