package invoice

import (
	"github.com/Orfeo42/admin-panel/view/layout"
	"github.com/Orfeo42/admin-panel/data"
	"github.com/Orfeo42/admin-panel/view/component"
)

templ InvoiceView(item data.Invoice) {
	@layout.BaseView() {
		@component.TitledCardComp("Prova Nuova") {
		}
	}
}
