package invoice

templ styles() {
	<!-- Stile solo per le tabelle -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet"/>
}

templ scripts() {
	<!-- script solo per le tabelle -->
	<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
	<script src="/js/demo/datatables-demo.js"></script>
}
