package customers

import (
	"admin-panel/internal/database"
	"admin-panel/utils"
	"strconv"
)

templ CustomerSearch(items []database.Customer) {
	for index, customer := range items {
		<div class="preview-item" data-index={ strconv.Itoa(index) } data-id={ utils.UintToString(customer.ID) }>{ customer.Name }</div>
	}
}
