package pages

import (
	"github.com/Orfeo42/admin-panel/view/layout"
	"github.com/Orfeo42/admin-panel/repositories"
	"github.com/Orfeo42/admin-panel/view/component"
)

templ OrderView(item repositories.Order) {
	@layout.BaseView() {
		@component.TitledCardComp("Prova Nuova")
	}
}
